.character-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;

    .options-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            margin: 5px;
            width: 65px;
        }
    }

    .description-wrapper {
        h3 {
            height: 23px;
        }
    }
}